# Auto detect text files and perform LF normalization
* text=auto
*.md linguist-detectable=true linguist-vendored=false linguist-generated=false linguist-documentation=false
*.html linguist-detectable=true linguist-documentation=false linguist-generated=false linguist-vendored=false
*.bgt linguist-language=AngelScript